body {
    margin: 0%;
    overflow: hidden;
    /* background: url(../Images/space.jpg); */
}
img {
    position: absolute;
    width: 10%;
    left: 45%;
    top: calc(50% - 7.07vw);
    caret-color: rgba(0,0,0,0);   
    pointer-events: none;

}