@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
	margin: 0;
	background-color: black;
}

#content-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 480px;
	border: 6px solid gold;
	position: relative;
	margin-top: 20px;
	/* background-color: red; */
}
/* @media screen and (min-width: 600px) {
	#content-container {
		background-color: blue;
	}
} */
/* testing for mobile design */
#score-container {
	font-family: "Press Start 2P", cursive;
	text-shadow: -5px -2px black, 1px 1px black;
	position: fixed;
	user-select: none;
	height: 140px;
	width: inherit;
	margin-top: 503px;
	background-color: #502b0f;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gold;
	font-size: 40px;
}

#game-container {
	text-align: center;
}

#game-ui {
	background-color: rgba(121, 115, 115, 0.7);
	position: fixed;
	user-select: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	width: inherit;
	justify-content: center;
	height: 640px;
}
/* https://codepen.io/DanielWeiner/pen/naybVd for inspiration on the startBtn and font styles */
#startBtn {
	font-family: "Press Start 2P", cursive;
	text-align: center;
	display: inline-block;
	margin: 5px;
	padding: 10px 0 10px 10px;
	background-color: lightgray;
	text-shadow: -1px -1px black, 1px 1px white;
	color: gray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 0.4em rgb(76, 75, 75);
	cursor: pointer;
	height: 50px;
	width: 180px;
	padding: 0;
	font-weight: 500;
}

#startBtn:active {
	box-shadow: none;
	position: relative;
	top: 0.2em;
}

#scoreEl {
	margin-left: 6px;
}

#home-button {
	width: 75px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: -100px;
	z-index: 100;
	user-select: none;
	filter: invert(73%) sepia(93%) saturate(497%) hue-rotate(358deg)
		brightness(100%) contrast(105%);
}
